// Als credentials.h speichern (oder von rgbw_stair_light/ kopieren).
#ifndef CREDENTIALS_H
#define CREDENTIALS_H
#define WIFI_SSID "dein-wlan"
#define WIFI_PASS "dein-passwort"
#define OTA_HOSTNAME "stairlight-testbed"
#endif
